.calendar-container {
  margin-top: 20px;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.hours-view {
  border: 1px solid #ccc;
  padding: 10px;
}
.hour-daily {
  margin-bottom: 10px;
  position: relative;
}
.hour-weekly {
  margin-bottom: 10px;
  position: relative;
}
.hour-daily::after {
  content: '';
  position: absolute;
  top: 55%;
  right: 5;
  width: 95%;
  height: 1px;
  background-color: #ccc;
}
.weekly-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.weekly-button {
  position: relative;
}
.weekly-button::after {
  content: '';
  position: absolute;
  top: 70%;
  left: -160%;
  transform: translateX(-50%);
  width: 1px;
  height: 116vh;
  background-color: black;
}

.btn#prev{
background-color:white;
}
.btn#next{
  background-color:white;
  }

.btn#daily{
    background-color:white;
    color:rgb(159, 159, 159);
  }
  
.btn#weekly{
    background-color:white;
    color:rgb(159, 159, 159);
  }
.btn#monthly{
    background-color:white;
    color:rgb(159, 159, 159);
  }
.view-container {
  margin: auto;
  display: inline;
  border: 5px solid rgb(159, 159, 159);
  background-color: rgb(159, 159, 159);
  color: black;
  border-radius: 40px;
  width: 155px;
  height: 60px;
  box-shadow: 5px 5px 5px gray;
  padding: 5px;
}
.col-3 {
  
  margin: auto;
  display: inline;
  border: 5px solid rgb(159, 159, 159);
  background-color: rgb(159, 159, 159);
  color: black;
  border-radius: 40px;
  width: 70px;
  height: 60px;
  box-shadow: 5px 5px 5px gray;
  padding: 5px;
}
